# Импорт библиотек

In [10]:
import pandas as pd
import numpy as np

from selenium import webdriver
from selenium.webdriver.firefox.service import Service as FirefoxService
from selenium.webdriver.chrome.service import Service as ChromeService
# from selenium.webdriver.firefox.options import Options
from selenium.webdriver.firefox.options import Options as FirefoxOptions
from selenium.webdriver.chrome.options import Options as ChromeOptions
from selenium.webdriver import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.firefox import GeckoDriverManager
from webdriver_manager.chrome import ChromeDriverManager
from fake_useragent import UserAgent
import requests
from bs4 import BeautifulSoup as bs

from time import sleep
import random


pd.set_option('display.max_columns', None)

# Обоснование выбора компании и датасета

[Ссылка на данные](https://www.kaggle.com/datasets/sakshigoyal7/credit-card-customers)

Легенда       
Мы команда продуктовых аналитиков направления кредитные карты в компании American Express.     
В последние данные прослеживается тренд снижения популярности данного продукта.     

В связи с этим необходимо: 
1. Проанализировать отток клиентов банка (отказы от кредитных карт) 
2. Составление профилей пользователь кредитных карт и потенциальных отказников
3. Построение модели, которая бы предсказывала, кто из клиентов наиболее вероятно откажется от продукта

In [7]:
df = pd.read_csv('BankChurners.csv')


df = df.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis=1)
print(df.shape)
df.head()

(10127, 21)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [3]:
df.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [46]:
df.Income_Category.unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [49]:
df.groupby(['Card_Category'])['CLIENTNUM'].agg('count')

Card_Category
Blue        9436
Gold         116
Platinum      20
Silver       555
Name: CLIENTNUM, dtype: int64

In [47]:
df[df['Income_Category']=='Less than $40K'].groupby(['Card_Category'])['CLIENTNUM'].agg('count')

Card_Category
Blue        3403
Gold          24
Platinum       4
Silver       130
Name: CLIENTNUM, dtype: int64

In [48]:
df[df['Income_Category']=='$120K +'].groupby(['Card_Category'])['CLIENTNUM'].agg('count')

Card_Category
Blue        645
Gold         18
Platinum      4
Silver       60
Name: CLIENTNUM, dtype: int64

# Дополнительные фичи

# Дополнение датафрейма

In [ ]:
def site_open_func(site: str, browser: str = 'firefox'):
    ua = UserAgent()

    if browser == 'firefox':
        service = FirefoxService(GeckoDriverManager().install())
        user_agent = ua.firefox
        options = FirefoxOptions()
        options.set_preference("general.useragent.override", user_agent)

        driver = webdriver.Firefox(service=service, options=options)
    else:
        raise ValueError("Unsupported browser. Choose 'firefox' or 'chrome'.")

    url = site
    driver.get(url)
    sleep(3)

    return driver, url

In [150]:
card_sites_dict = {
    'Blue':'https://www.americanexpress.com/us/credit-cards/card/blue-cash-everyday/'
}

df_card_info = pd.DataFrame(columns=['Card', 'Annual fee'])

In [ ]:
site = 'https://www.americanexpress.com/us/credit-cards/?category=all&eep=25330&intlink=US-Axp-Shop-Consumer-VAC-Prospect-all-StickyFilter'
driver = site_open_func(site, 'firefox')
page_blue_card = bs(driver.page_source)

In [ ]:
# for card, site in card_sites_dict.items():
#     driver = site_open_func(site, 'firefox')
#     page_blue_card = bs(driver.page_source)
#     for string in page_blue_card.find_all('div', class_='sc_visuallyHidden'):
#         if '%' in string.text.lower() and 'cash back' in string.text.lower():
#             # print(string.text.split(' CASH BACK On ')[0].replace('%', ''))
#             # print(string.text.split(' CASH BACK On ')[1].replace('%', ''))
#             df_card_info.loc[len(df_card_info), :] = [card, string.text.split(' CASH BACK On ')[1].replace('%', ''), int(string.text.split(' CASH BACK On ')[0].replace('%', '')) / 100]

In [ ]:
# for card in page_blue_card.select('a[href*="/credit-cards/card/"]'):
#     try:
#         # Извлекаем название карты
#         card_name = card.select_one('h2 span').get_text(strip=True)
        
#         # Ищем блок с Annual Fee (оба варианта - для мобильных и десктопов)
#         fee_block = card.select_one('div._annualFeeCopy_16u1q_1')
#         if fee_block:
#             # Берем первый span с ценой (они дублируются для responsive)
#             fee_span = fee_block.select_one('span')
#             annual_fee = re.search(r'\$\d+', fee_span.get_text()).group()
            
#             # Добавляем в DataFrame
#             df_card_info.loc[len(df_card_info)] = {
#                 'Card Name': card_name,
#                 'Annual Fee': annual_fee
#             }
#     except Exception as e:
#         print(f"Ошибка при обработке карты: {e}")

In [153]:
for card in page_blue_card.find_all(True):
    try:
        if card.find('strong', class_='dls-deep-blue', string='Annual Fee'):
            card_name = card.find_previous('h2').get_text(strip=True)
            fee_span = card.find('span')
            html_string = str(fee_span)

            import re
            dollar_amounts = re.findall(r'\$\d+', html_string)
            
            if dollar_amounts:
                annual_fee = dollar_amounts[0].replace('$', '')
                print(card_name, annual_fee)

                card_exists = (df_card_info['Card'] == card_name).any()

                print(annual_fee is not None, not card_exists)
  
                if annual_fee is not None and not card_exists:
                    df_card_info.loc[len(df_card_info)] = {
                        'Card': card_name,
                        'Annual fee': annual_fee
                    }
                
    except Exception as e:
        pass

The Platinum Card® 695
True True
The Platinum Card® 695
True False
The Platinum Card® 695
True False
The Platinum Card® 695
True False
American Express®Gold Card 325
True True
American Express®Gold Card 325
True False
American Express®Gold Card 325
True False
American Express®Gold Card 325
True False
Blue Cash Preferred®Card 0
True True
Blue Cash Preferred®Card 0
True False
Blue Cash Preferred®Card 0
True False
Blue Cash Preferred®Card 0
True False
Delta SkyMiles®Gold American Express Card 0
True True
Delta SkyMiles®Gold American Express Card 0
True False
Delta SkyMiles®Gold American Express Card 0
True False
Delta SkyMiles®Gold American Express Card 0
True False
Delta SkyMiles®Platinum American Express Card 350
True True
Delta SkyMiles®Platinum American Express Card 350
True False
Delta SkyMiles®Platinum American Express Card 350
True False
Delta SkyMiles®Platinum American Express Card 350
True False
Marriott Bonvoy Bevy®American Express®Card 250
True True
Marriott Bonvoy Bevy®American Express®Card 250
True False
Marriott Bonvoy Bevy®American Express®Card 250
True False
Marriott Bonvoy Bevy®American Express®Card 250
True False
Marriott Bonvoy Brilliant®American Express®Card 650
True True
Marriott Bonvoy Brilliant®American Express®Card 650
True False
Marriott Bonvoy Brilliant®American Express®Card 650
True False
Marriott Bonvoy Brilliant®American Express®Card 650
True False
Hilton Honors American Express Surpass®Card 0
True True
Hilton Honors American Express Surpass®Card 0
True False
Hilton Honors American Express Surpass®Card 0
True False
Hilton Honors American Express Surpass®Card 0
True False
Delta SkyMiles®Reserve American Express Card 650
True True
Delta SkyMiles®Reserve American Express Card 650
True False
Delta SkyMiles®Reserve American Express Card 650
True False
Delta SkyMiles®Reserve American Express Card 650
True False
American Express Green Card® 150
True True
American Express Green Card® 150
True False
American Express Green Card® 150
True False
American Express Green Card® 150
True False
Hilton Honors American Express Aspire Card 550
True True
Hilton Honors American Express Aspire Card 550
True False
Hilton Honors American Express Aspire Card 550
True False
Hilton Honors American Express Aspire Card 550
True False
The Platinum Card® 695
True False
The Platinum Card® 695
True False
The Platinum Card® 695
True False
The Platinum Card® 695
True False

In [154]:
df_card_info

                                               Card Annual fee
0                                The Platinum Card®        695
1                        American Express®Gold Card        325
2                          Blue Cash Preferred®Card          0
3         Delta SkyMiles®Gold American Express Card          0
4     Delta SkyMiles®Platinum American Express Card        350
5        Marriott Bonvoy Bevy®American Express®Card        250
6   Marriott Bonvoy Brilliant®American Express®Card        650
7       Hilton Honors American Express Surpass®Card          0
8      Delta SkyMiles®Reserve American Express Card        650
9                      American Express Green Card®        150
10       Hilton Honors American Express Aspire Card        550